{% extends 'Services/Base/services_base.html' %}
{% load static %}

{% block title %}Dispute Resolution | Muguna & Oyile{% endblock %}

{% block content %}
    <div class="hero-section w-full relative"
         style="background-image: url('https://i.postimg.cc/d0S3bphB/Create-a-realistic-background-image-for-a-law-firm-s-Dispute-Resolution-webpage-Depict-a-modern-cou.jpg');
                background-size: cover;
                background-position: center;">
        <div class="overlay"></div>

        <!-- Adaptive Content Box -->
        <div class="relative z-10 bg-white/80 backdrop-blur-sm 
            p-8 sm:p-12 md:p-16 rounded-3xl shadow-2xl 
            w-full max-w-lg md:max-w-2xl lg:max-w-5xl mx-auto">
          
            <h1 class="title-font text-5xl sm:text-6xl font-normal text-gray-800 mb-6">Dispute Resolution</h1>
            
            <p class="text-gray-700 leading-relaxed mb-6">
                We are dedicated to delivering seamless, efficient, and highly professional legal services in the areas of dispute resolution, litigation, and arbitration. Our expertise extends across both domestic and international courts and tribunals, where we consistently represent clients with precision and diligence while focusing on strategic litigation.
            </p>

            <p class="text-gray-700 leading-relaxed mb-8">
                Over the years, we have built and maintained an impressive track record of success, positioning us as the firm of choice for clients seeking representation in complex and high-stakes litigation and whether dealing with cross-border disputes, employment and labor disputes, commercial conflicts, or intricate arbitration proceedings, we are committed to providing solutions that are not only legally sound but also practical and result-oriented, serving the interests of our clients both regionally and globally.
            </p>

            <a href="{% url 'contact' %}" 
                class="inline-block bg-slate-800 text-white font-semibold py-3 px-8 rounded-full hover:bg-slate-700 transition-colors duration-300 shadow-md">
                    CONTACT US
            </a>
        </div>
    </div>
{% endblock %}