{% extends 'Services/Base/services_base.html' %}
{% load static %}

{% block title %}Intellectual Property | Muguna & Oyile{% endblock %}

{% block content %}
    <div class="hero-section w-full relative"
        style="background-image: url('https://i.postimg.cc/bJd2kwLM/Whats-App-Image-2025-09-21-at-12-58-10-4d151e6c.jpg');
                background-size: cover;
                background-position: center;">
        <div class="overlay"></div>

        <!-- Adaptive Content Box -->
        <div class="relative z-10 bg-white/80 backdrop-blur-sm 
            p-8 sm:p-12 md:p-16 rounded-3xl shadow-2xl 
            w-full max-w-lg md:max-w-2xl lg:max-w-5xl mx-auto">
          
            <h1 class="title-font text-5xl sm:text-6xl font-normal text-gray-800 mb-6">Intellectual Property</h1>
            
            <p class="text-gray-700 leading-relaxed mb-6">
                We support creatives and businesses in the protection of their intellectual property by attending to filings of Copyrights, Trademarks and/or Patents before the Copyrights Board of Kenya and the Kenya Intellectual Property Institute as appropriate. Our support extends to preparing and lodging new and/or renewal applications, patent annuitys, change in address and/or proprietor, recordation filings before the Anti-Counterfeit Authority, prosecution of infringement claims before the Copyright and/or Industrial Tribunal as well as the Commercial Court.
            </p>

            <p class="text-gray-700 leading-relaxed mb-6">
                We also support creatives seeking to access loan facilities using their IP by collateralization of their porfolios.We pride ourselves in offering tailored solutions to meet the unique needs of each client, ensuring their intellectual assets are adequately protected and commercially exploited. Our team of experienced IP attorneys and consultants possess in-depth knowledge of Kenyan, Regional and International IP law and practice, enabling us to provide comprehensive and effective representation.
            </p>

            <p class="text-gray-700 leading-relaxed">
                We are committed to staying abreast of the latest developments in IP law both locally and internationally, ensuring that our clients receive the most up-to-date and relevant advice. Whether you are a startup, a growing business, or an established enterprise, we can help you navigate the complexities of intellectual property law and build a strong IP portfolio that supports your business goals. We also conduct IP audits to identify and assess the value of your intellectual property assets.
            </p>

            <a href="{% url 'contact' %}" 
                class="inline-block bg-slate-800 text-white font-semibold py-3 px-8 rounded-full hover:bg-slate-700 transition-colors duration-300 shadow-md">
                    CONTACT US
        </a>
        </div>
    </div>
{% endblock %}